/* Color Theme Swatches in Hex */
.Burger-King-/-Moldy-Whopper-/-Integrated-1-hex { color: #D9BA5F; }
.Burger-King-/-Moldy-Whopper-/-Integrated-2-hex { color: #A68C5B; }
.Burger-King-/-Moldy-Whopper-/-Integrated-3-hex { color: #D9843B; }
.Burger-King-/-Moldy-Whopper-/-Integrated-4-hex { color: #400601; }
.Burger-King-/-Moldy-Whopper-/-Integrated-5-hex { color: #0D0D0D; }


*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-decoration: NONE;
    box-sizing: border-box;
    text-overflow: clip;
}
body{
    background-color: #0D0D0D;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
display: inline-block;
width: 100px;
height: 100px;
position: relative;
animation: loader 2s infinite ease;
}
@keyframes loader {
    0% { transform: scale(1);}
    50% { transform: scale(2);}
    100% { transform: scale(1);}

}
.notificacion{
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 15px;
    background-color: rgb(253, 243, 243);
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: notifica 2500ms ease-in-out forwards;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    display: none;
}
@keyframes notifica {
    0% {
      opacity: 0;
      bottom: 1rem;
    }
    25% {
        opacity: 1;
        bottom: 2rem;
    }
    50% {
        opacity: 1;
        bottom: 2rem;
    }
    75% {
        opacity: 1;
        bottom: 2rem;
    }
    100% {
        opacity: 0;
        bottom: 1rem;
    }
  }
.carrito{
    height: 50px;
    margin: 1rem;
    filter: invert(0.5);
}
.titulos_txt{
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
}
.textos_txt{
    font-family: 'Neuton', serif;
    font-size: 21px;
    color: #ffffff;
}
.botones{
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #000;
    color: #ffffff;
    border-radius: 40px;
    text-decoration: none;
    border: none;
    transition: all 0.1s;
    cursor: pointer;
    margin: 15px 0;
}
.botones:hover{
    transform:scale(1.1);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}
.botones:active {
    filter:contrast(75%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Navbar */
.logo{
    height: 50px;
    filter: invert(1);
    align-items: center;
    position: absolute;
    left: 50%;  
    transition: all 0.5s;
}
.logo:hover{
    filter: invert(0) drop-shadow(0px 0px 20px #fff);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
}
.nav_list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type:none;
}
.nav_list li a {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: 0px 20px;
    text-decoration: none;
    transition: all 150ms;
    cursor: pointer;
    color: #ffffff;
}
.nav_list li a:hover,.nav_list li a.activo{
    border-top: solid #D9843B;
    border-bottom: solid #D9843B;
    padding: 5px 10px;
}   
.hamburger{
    display: none;
    background-color: transparent;
    border: 0;
    margin-left: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.hamburger:focus{
    outline: none;
}
.cart{
    border: 0;
    margin-right: 20px;
    height: 45px;
    cursor: pointer;
    filter: invert(1);
}
/*parallax*/
.parallax{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.parallax_txt{
    position: relative;
    font-size: 50px;
    overflow:hidden;
    height: 400px;
    margin:0px 50px;
}

.parallax_txt span{
    font-size: 135px;
}
.parallax_txt p {
    position: relative;
    left: 8px;
    bottom: 15px;
    font-size: 25px;
}
.boton_pedidos{
    font-size: 20px;
    background-color: #0D0D0D;
    border: solid;
    border-color: #fff;
    margin: 5px;
    padding: 15px 50px;
    border-radius: 5px;
    transition: 600ms;
}
.boton_pedidos:hover{
    background-color: #D9843B;
    color:#0D0D0D;
    border: solid #D9843B;
}
.parallax_image{
    position: absolute;
    right: 0px;
    width: 55%;
}
/*Contenido*/
.contenido{
    display:flex;
    margin: 50px 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#0D0D0D,#0D0D0D 20%,#A68C5B);
}
.secciones_txt{
    font-size: 100px;
}
/*promo section*/
#promociones{
    position:relative;
    min-width: 350px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#promociones .card{
    position: relative;
    width: 300px;
    height: 470px;
    background-color: #ffffff;
    margin: 20px 30px;
    border-radius: 20px;
    overflow:hidden ;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}
#promociones:hover .card{
    filter:blur(5px);
    transform:scale(0.9);
    opacity: 0.5;
}
#promociones .card:hover{
    filter:blur(0px);
    transform:scale(1.1);
    opacity: 1;
}
#promociones .card .circulo_card{
    position: relative;
    width: 100%;
    height:100%;
    background-color: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
#promociones .card .circulo_card h3{
    color: #ffffff;
    font-size: 4.5em;
    padding: 30px 0;
}
#promociones .card .contenido_card{
    position: relative;
    top: -80%;
    text-align: center;
}
#promociones .card .contenido_card img{
    position: relative;
    width: 100%;
}
#promociones .card .contenido_card p{
    color: rgb(139, 139, 139);
}

#promociones .card:nth-child(1) .circulo_card,#promociones .card:nth-child(1) .contenido_card input{
    background: #A68C5B;
}
#promociones .card:nth-child(2) .circulo_card,#promociones .card:nth-child(2) .contenido_card input{
    background: #D9843B;
}
#promociones .card:nth-child(3) .circulo_card,#promociones .card:nth-child(3) .contenido_card input{
    background: #400601;
}
/*armado de hamburguesa*/
#armado{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 60%;
    height: 600px;
    min-width: 350px;
    border-radius: 20px;
    overflow:hidden ;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    margin: 50px;
}
#armado_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#0D0D0D ;
    width: 55%;
    height: 100%;
    clip-path: ellipse(100% 100% at 0% 50%);
}
#armado_img img{
    width:80%;
}
#ingredientes_img{
    height: fit-content;
    overflow: hidden;
}
#form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
}
#form_ingredientes{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    overflow-y: hidden;
    padding: auto;
    justify-content: center;
}
.list_txt{
    color: grey;
    padding: 0px 5px;
}
.boton_armado{
    color: grey;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: x-large;
}
.boton_armado:hover{
    color: #0D0D0D;
}
/*cart*/
.cart_container {
    background-color: #ffffff;
    margin-bottom: 10px;
    min-width: 350px;
    margin: 0px auto;
    padding: 20px 10px;
    background-color: #ffffff;
}
.cart-row {
    display: flex;
}
.cart-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-item {
    width: 30%;
    color: #333;
}
.cart-cantidad {
    width: 35%;
    color: #333;
}
.num_carrito{
    border-radius: 5px;
    background-color: #A68C5B;
    padding: 0px 10px;
    margin:0px;
}
.cart-precio {
    width: 30%;
    font-size: 1.2em;
    font-weight: bolder;
    color: #333;
}
.cart-delete {
    width: 5%;
    font-size: 1.2em;
    font-weight: bolder;
    color: #333;
}
.boton_x{
    color: #400601;
}
.boton_total{
    display: flex;
    justify-content: flex-end;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #0D0D0D;
    color: #ffffff;
    flex-wrap: wrap;
    min-width: 350px;
}
.footer__logo__datos{
    display: flex; 
    align-items: center;
    filter: invert(1);
}
.info{
    border-left: 1px solid #000;
    padding-left: 30px ;
    margin-left: 10px;
    color: #000;
}
.info p {
    margin: 0px;
}
.footer__social__media{
    display: flex;
    justify-content: space-evenly;
    filter: invert(1);
}
.footer__social__media__icon{
    padding: 20px;
}
.autor__link{
    font-size: 20px;
    color:#fff;
    margin: 10px 0;
}
@media screen and (max-width:900px){
    /*NAV*/
    .logo{
        height:50px;
        position: absolute;
        left: 45%;
    }
    .nav_list_hide{
        display: none;
    }
    .nav_list li a{
        padding: 10px;
    }
    .hamburger {
        display: block;
        font-size:50px;
    }
    .parallax{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: 70vh;
    }
    .parallax_txt{
        font-size: 25px;
        text-align: center;
    }
    .parallax_txt h1{
        font-family: 'Fjalla One', sans-serif;
    }
    .parallax_txt span{
        font-family: 'Fjalla One', sans-serif;
        font-size: 50px;
    }
    .parallax_txt p {
        margin: auto;
        font-size: 16px;
    }
    .boton_pedidos{
        display: none;
    }
    .parallax_image{
        position: absolute;
        top: 150px;
        width: 100%;
        background: transparent;
    }
    .titulos_txt{
        text-overflow: clip;
        text-align: center;
        font-size: 200%;
    }
    .textos_txt{
        font-size: 16px;
        text-overflow: clip;
        text-align: center;
    }
    .footer{
        justify-content: center;
    }
}